@inject NavigationManager Nav

<nav class="nav-menu">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <span class="nav-icon">&#127968;</span> Dashboard
    </NavLink>
    <NavLink class="nav-link" href="/inspection-dashboard">
        <span class="nav-icon">&#128197;</span> Calendar
    </NavLink>
    <NavLink class="nav-link" href="/schedules">
        <span class="nav-icon">&#128336;</span> Schedules
    </NavLink>
    <NavLink class="nav-link" href="/inspections">
        <span class="nav-icon">&#128203;</span> Inspections
    </NavLink>
    <NavLink class="nav-link" href="/issues">
        <span class="nav-icon">&#9888;</span> Issues
    </NavLink>

    <div class="nav-divider"></div>

    <NavLink class="nav-link" href="/companies">
        <span class="nav-icon">&#127970;</span> Companies
    </NavLink>
    <NavLink class="nav-link" href="/overview">
        <span class="nav-icon">&#127795;</span> Overview
    </NavLink>
    <NavLink class="nav-link" href="/equipment-types">
        <span class="nav-icon">&#9881;</span> Equipment Types
    </NavLink>

    <div class="nav-divider"></div>

    <NavLink class="nav-link" href="/setup">
        <span class="nav-icon">&#128295;</span> Setup Wizard
    </NavLink>
</nav>
